<!DOCTYPE html>
<html>
<head>
  <title>Rentah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul class="navigation">
      <span class="menu-item"><a href="#">About</a></span>
      <span class="menu-item"><a href="#">Join us</a></span>
      <span class="menu-item"><a href="#">FAQ</a></span>
      <span class="menu-item"><a href="#">Our Team</a></span>
      <span class="menu-item"><a href="#">Learn More</a></span>
      <span class="menu-item"><a href="#">Contact</a></span>
      <span class="logins"><%= link_to "Sign up", new_user_registration_path %></span>
      <span class="logins"><%= link_to "Log In", new_user_session %></span>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
